*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.homepage{
    height: 100%;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(https://images.unsplash.com/photo-1676892011905-19e4f28447a9?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=893&q=80);
    background-position: center;
    background-size: cover;
    position: absolute;
    text-decoration: none;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
    
}
.navbar{
    height: 12%;
    display: flex;
    align-items: center;
}
nav{
    flex: 1;
    text-align: right;

}
nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 60px;       
}
nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 13px;
}
.row{
    display: flex;
    height: 88%;
    align-items: center;
    padding-bottom: 50px;
}
.col{
    flex-basis: 50%;

}
h1{
    color: #fff;
    font-size: 100px;  
}
h2{
    color: #fff;
    font-size: 11px;
    font-family: 'Roboto', sans-serif;
    padding-top: 10px;
    padding-left: 5px;
}
p{
    color: #fff;
    font-size: 11px;
    line-height: 15px;
}
button{
    width: 180px;
    color: #000;
    font-size: 12px;
    padding: 12px 0;
    background: #fff;
    border: 0;
    border-radius: 20px;
    outline: none;
    margin-top: 30px;
    
}
.card{
    width: 200px;
    height: 230px;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px;
    background-image: url(https://images.vexels.com/media/users/3/139343/isolated/preview/8d7e22bfe4da9ba08eb4b469ea8c532f-square-rounded-square.png);
    background-position: center;
    background-size: cover;
    opacity: 0.5;
    transition-duration: 0.5s;
}
h5{
    color: #fff;
    font-size: 15px;
    padding-top: 23px;
}
.column1{
    padding-bottom: 50px;
}



.column2{
    padding-left: 200px;
    padding-bottom: 5px;
}
.card:hover{
    transform: translateY(-10px);
}
